body {
    background-color: lightgrey
}

.educationSection {
    height: 100vh;
    position: relative;
    overflow: auto;
}

.container {
    position: absolute;
    background-color: #00000096;
    width: 600px;
    top: 35vh;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 30px;
    margin-left: 40px;

}

.heading {
    font-size: 40px;
    font-weight: 300;
}

.paragraph {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0px 30px;
}

.button {
    background-color: red;
    border: 0;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}

.button:hover {
    transform: scale(1.1);

}

.bounce {
    animation: bounce 1s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(40px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}


.sectionTitle {
    /* width: 12rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    animation: scale 1s infinite alternate;
    top: 50px */

    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: scale 1s infinite alternate;
    text-decoration: underline;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}
@media screen and (max-width: 1140px) {
    .educationSection {
        width: 100%;
        padding: 0 15px;
    }
    .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .heading {
        font-size: 30px;
        line-height: 35px;
    }
}